.header_barra_de_busqueda {
    width: 600px;
    height: 30px;
    background-color: white;
    margin-left: 30px;
    font-size: 24px;
}

.header_burguer_menu {
    color:var(--color-Azul)
}

.lupa {
    border: 3px solid black;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}





@media (max-width: 480px){
    .header_barra_de_busqueda {
        width: 300px;
        height: 30px;
        background-color: white;
        margin-left: 30px;
        font-size: 24px;
    }

    .header_burguer_menu {
        background-color: var(--color-Azul);
        color: white;
        display: inline;
        text-align: center;
    }
}