.header_img_logo {
    width: 40%;
    margin: 20px;
}

.header_barra_de_busqueda {
    width: 50%;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    margin-left: 20px;
    font-size: 55%;
}

.header_icono_lupa {
    width: 20px;
    height: 20px;
    background-color: white;
    text-align: center;
    margin: 2px 0px 10px 20px;
    border: 1px solid black;
}

header nav {
    display: none;
}

.header_compra_en_cuotas {
    text-align: center;
}

header article i {
    margin-right: 5px;
}

header nav ul li i {
    margin-left: 5px;
}

.header_listas_margen {
    margin: 20px 0px;
    display: block;
}

.burger-menu {
    background-color:  var(--color-Celeste);
    color:white;
    border-radius: 10%;
    display: inline-block;
    text-align: center;
    margin-left: 45%;
    margin-bottom: 5%;
    padding: 6px 9px; 

}

@media (min-width: 361px){

.header_buscador {
    display: flex;
    width: 60%;
}

.header_barra_de_busqueda{
    display: flex;
    align-items: center;
    margin-right: 1%;
    width: 90%;
    height: 25px;
    font-size: 85%;
}

.header_icono_lupa{
    display: flex;
    align-items: center;
    height: 25px;
    margin: 0px;
}

.header_compra_en_cuotas {
    display: flex;
    justify-content: center;
    margin: 5%;
}

}

@media (min-width: 769px){
    header {
        padding-bottom: 20px;
    }

    header nav {
        display: inline;
    }

    .burger-menu {
        display: none;
    }

    .header_listas_margen {
        margin: 0px;
    }

    .header_buscador {
        width: 35%;
    }
}