header section img {
    width: 50%;
}
.header_img_logo {
    width: 50%;
    margin: 20px;
}

.header_barra_de_busqueda {
    width: 50%;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    margin-left: 20px;
    font-size: 55%;
}

.header_icono_lupa {
    width: 20px;
    height: 20px;
    background-color: white;
    text-align: center;
    margin: 2px 0px 10px 20px;
    border: 1px solid black;
}

header nav {
    display: none;
}

body section img{
    width: 100%;
}

header article i {
    margin-right: 5px;
}

header nav ul li i {
    margin-left: 5px;
}

.header_listas_margen {
    margin: 20px 0px;
    display: block;
}

.burger-menu {
    background-color:  var(--color-Celeste);
    color:white;
    border-radius: 10%;
    display: inline-block;
    text-align: center;
    margin-left: 45%;
    margin-bottom: 5%;
    padding: 6px 9px; 

}

@media (min-width: 320px){

body header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vw;
}

.header_section_logo_buscador {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}  

.header_img_logo {
    width: 50%;
    margin: 3% 0%;
}

.header_buscador {
    width: 50%;
    display: flex;
    justify-content: end;
}

.header_barra_de_busqueda{
    display: flex;
    align-items: center;
    width: 90%;
    height: 25px;
    font-size: 75%;
    margin: 0%;
}

.header_icono_lupa{
    display: flex;
    align-items: center;
    height: 25px;
    margin: 0px;
}

.header_compra_en_cuotas {
    display: flex;
    justify-content: center;
    margin: auto;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    width: 33px;
    margin: auto;
}

}

@media (min-width: 768px){
    body header {
        padding-bottom: 20px;
        height: 20vw;
    }

    .header_img_logo {
        width: 30%;
        margin: 3% 1%;
    }

    .header_section_logo_buscador {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_buscador {
        width: 30%;
        margin: 0%;
    }

    .header_barra_de_busqueda{
        margin-right: 5px;
    }

    .header_compra_en_cuotas {
        width: 30%;
        margin: 1%;
        font-size: 90%;
    }
    

    header nav {
        display: flex;
    }

    .burger-menu {
        display: none;
    }

    #boxNav {
        display: flex;
        justify-content: space-between;
        margin: 0% 1%;
    }

    .header_listas_margen {
        display: flex;
        margin: 0px;
        width: 45%;
        justify-content: space-between;
    }

    header nav ul li {
        padding: 1%;
    }

    .header_buscador {
        width: 35%;
    }
}

@media (min-width: 1024px) {
    .header_listas_margen {
        width: 35%;
    }
}