/*.main_form {
    border: 1px solid black;
    width: 90vw;
}

.main_form_div {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
}

.main_form_div label{
    display: none;
}

.main_form_div input{
    width: 90%;
    margin: 2%;
    padding: 2%;
}*/
.form_login {
    width: 90%;
    margin: auto;
}

.login_button {
    color: white;
    font-weight: bold;
    width: 90%;
    margin: auto;
}

.login_button button {
    background-color: var(--color-Celeste);
    margin: auto;
    width: 100%;
    transition: all 3ms;
}

.login_button button:hover {
    background-color: #0022AA;
}

@media (min-width: 1024px) {
    .main_form {
        margin-top: 3%;
    }
    .main_form_div {
        display: flex;
        flex-direction: column;
    }

    .main_form_div label{
        display: inline;
        font-weight: bold;
    }

    /* .form_div_button button{
        width: 30%;
    } */
}