/*.main_form {
    border: 1px solid black;
    width: 90vw;
}

.main_form_div {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
}

.main_form_div label{
    display: none;
}

.main_form_div input{
    width: 90%;
    margin: 2%;
    padding: 2%;
}*/
@media (min-width: 1024px) {
    .main_form {
        margin-top: 3%;
    }
    .main_form_div {
        display: flex;
        flex-direction: column;
    }

    .main_form_div label{
        display: inline;
        font-weight: bold;
    }

    .form_div_button button{
        width: 30%;
    }
}