@import './general.css';
@import './header.css';
@import './home.css';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

main {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    margin: auto;
}

body {
    background-color: var(--color-Gris-claro);
}

body header {
    width: 100%;
    background-color: var(--color-Amarillo);
    background-size: cover;
}

header ul {
    margin: 0px;
    display: inline;
    text-decoration: none;
    list-style: none;
}

.body_banner {
    width: 100%;
}

body main section {
    background-color: white;
    margin: 20px 20px;
}

footer {
    margin: 10px 5px;
    background-color: white;
}

footer section {
    margin: 20px 0px;
    text-align: center;
}

footer section i {
    font-size: 2em;
    margin: 30px 0px 10px ;
    color: var(--color-Celeste);
}

footer article p {
    margin: 30px 0px 20px 20px ;
}
