@import './normalize.css';
@import './general.css';
@import './header.css';
@import './home.css';
@import './register.css';
@import './login.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

main {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    margin: auto;
}

body {
    background-color: var(--color-Gris-claro);
}

body header {
    width: 100%;
    background-color: var(--color-Amarillo);
    background-size: cover;
}

header ul {
    margin: 0px;
    display: inline;
    text-decoration: none;
    list-style: none;
}

.body_banner {
    width: 100%;
}

body main section {
    background-color: white;
    margin: 20px 20px;
}

footer {
    margin: 10px 5px;
    background-color: white;
}

footer section {
    margin: 20px 0px;
    text-align: center;
}

footer section i {
    font-size: 2em;
    margin: 30px 0px 10px ;
    color: var(--color-Celeste);
    transition: all 3ms;
}

footer article p {
    margin: 30px 0px 20px 20px ;
}

/* Estilos de formularios para Registro y Login */
.main_form {
    width: 90vw;
}

.main_form_div {
    display: flex;
    justify-content: space-around;
}

.main_form_div input{
    width: 90%;
    margin: 2%;
    padding: 2%;
}

.main_form_div label{
    display: none;
}

main form button {
    background-color: var(--color-Celeste);
    color: white;
    font-weight: bold;
    width: 20%;
    margin: 0% 1%;
    padding: 1%;
}

.form_div_button {
    margin: 3% 0%;
    display: flex;
    justify-content: center;
}

@media (min-width: 1024px) {
    .main_form {
        margin-top: 3%;
    }
    .main_form_div {
        display: flex;
        flex-direction: column;
    }

    /* .main_form_div label{
        display: inline;
        font-weight: bold;
    }

    .form_div_button button{
        width: 30%;
    } */
}
