@import './general.css';
@import './header.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

header {
    margin: 0px;
    background-color: var(--color-Amarillo);
    background-size: cover;
}

header ul {
    margin: 0px;
    display: inline;
    text-decoration: none;
    list-style: none;
}

footer {
    text-align: center;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
}

.subtitulo_ultima_visita {
    font-size: var(--basadoEnUltimasVisitas);
}

.subtitulo_oferta {
    font-size: var(--ofertas); 
}

.precios {
    font-size: var(--precios);
}

.descuentos {
    font-size: var(--descuentos);
}

